@use "../../../styles/variables";

.password-input {
  &__visibility-icon {
    display: block;
    color: rgb(0, 0, 0, 0.8);
    height: 24px;
    width: 24px;
    transition: filter 50ms;

    &:hover {
      filter: drop-shadow(0 0 3px rgb(0, 0, 0, 0.3));
    }
  }

  &__visibility-button {
    position: absolute;
    top: 50%;
    right: variables.$unit * 2;
    translate: 0 -50%;
    padding: 0;
    background-color: transparent;
  }
}
