$border-radius: 4px;
$unit: 0.25em;
$top-bar-height: 14 * $unit;

/* Responsive breakpoints */
$breakpoint-xs: 460px;
$breakpoint-s: 600px;
$breakpoint-m: 768px;
$breakpoint-l: 992px;
$breakpoint-xl: 1200px;
