@use "../../styles/variables";

$padding-y: 0.7em;
$padding-x: 1.5em;
$band-width: 4px;

.button {
  button {
    padding: $padding-y $padding-x;
    border: none;
    border-radius: variables.$border-radius;
    font-size: 1em;
    cursor: pointer;
    font-weight: 500;
    font-family: inherit;
    transition: filter 50ms;
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 1px -2px,
      rgba(0, 0, 0, 0.14) 0 2px 2px 0, rgba(0, 0, 0, 0.12) 0 1px 5px 0;
    background-color: white;
  }

  &.button--primary button,
  &.button--secondary button,
  &.button--destructive button,
  &.button--custom button {
    border-top: $band-width solid rgba(50, 50, 50, 1);
    padding: calc($padding-y - $band-width / 2) $padding-x;
  }

  &.button--primary button {
    border-top-color: rgb(58, 114, 219);
  }

  &.button--secondary button {
    border-top-color: rgba(150, 150, 150, 1);
  }

  &.button--destructive button {
    border-top-color: rgb(219, 65, 65);
  }

  &.button--custom button {
    border-top-color: var(--band-color, black);
  }

  &.button--full-width button {
    width: 100%;
  }

  button:disabled {
    cursor: not-allowed;
    background: rgba(230, 230, 230, 1);
    border-top-color: rgba(160, 160, 160, 1);
    color: rgba(160, 160, 160, 1);
    box-shadow: none;
  }

  button:not(:disabled) {
    &:hover {
      filter: brightness(0.95);
    }

    &:active {
      filter: brightness(0.9);
    }
  }
}
