@use "../../../styles/variables";
@use "../../../styles/styles";

.card {
  $padding: 0.5em;
  $band-width: 6px;

  width: 100%;
  border-radius: variables.$border-radius;

  &--raised {
    @extend .raised;
  }

  &--outlined {
    @extend .outlined;
  }

  &--flat {
    background-color: lighten(styles.$flat-background-color, 3%);
  }

  &--banded {
    border-left: $band-width solid var(--band-color, "black");
  }
}
