@use "../../../styles/variables";
@use "../../../styles/styles";

.topbar {
  @extend .raised;

  display: flex;
  height: variables.$top-bar-height;
  width: 100%;
  align-items: center;

  &--position-absolute {
    position: absolute;
  }

  &--position-fixed {
    position: fixed;
  }
}
