@use "../../../styles/variables";
@use "../../../styles/styles";

.box {
  $padding: 0.5em;
  $band-width: 6px;

  padding: calc(variables.$unit * var(--padding, 2));
  gap: calc(variables.$unit * var(--spacing, 0));

  &--flex {
    display: flex;
  }

  &--flex-row {
    flex-direction: row;
  }

  &--flex-col {
    flex-direction: column;
  }

  &--raised {
    @extend .raised;
  }

  &--outlined {
    @extend .outlined;
  }

  &--flat {
    background-color: lighten(styles.$flat-background-color, 3%);
  }

  &--banded {
    border-left: $band-width solid var(--band-color, "black");
  }

  &--full-width {
    width: 100%;
  }
}
