@use "../../../styles/variables";

.toast-container {
  position: absolute;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: variables.$unit * 2;
  margin-bottom: variables.$unit * 2;

  &--top {
    top: 0;
  }

  &--bottom {
    bottom: 0;
  }

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }

  @media only screen and (min-width: variables.$breakpoint-s) {
    & {
      margin: variables.$unit * 2;
      width: 350px;
    }
  }
}
