@use "../../../styles/variables";
@use "../../../styles/colors";
@use "../../../styles/styles";

$padding-y: 0.8em;
$padding-x: 1.5em;
$band-width: 4px;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: variables.$unit * 2;
  padding: $padding-y $padding-x;
  font-weight: 400;
  transition: filter 50ms;
  text-transform: uppercase;
  border-radius: variables.$border-radius;
  letter-spacing: 1px;

  &--raised {
    @extend .raised;
  }

  &--outlined {
    @extend .outlined;
  }

  &--flat {
    @extend .flat;
  }

  &--colored {
    border-top: $band-width solid rgba(50, 50, 50, 1);
    padding: $padding-y $padding-x;
    padding-top: calc($padding-y - $band-width);
  }

  &--full-width {
    width: 100%;
  }

  &:disabled {
    cursor: not-allowed;
    background: rgb(230, 230, 230);
    border-top-color: rgb(160, 160, 160);
    color: rgb(160, 160, 160);
    box-shadow: none;
  }

  &:not(:disabled) {
    &:hover {
      filter: brightness(0.95);
    }

    &:active {
      filter: brightness(0.9);
    }
  }
}
