@use "../../../styles/variables";

.sign-in-container {
  margin-top: variables.$unit * 6;

  h1 {
    text-align: center;
    margin: variables.$unit * 2 0;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: variables.$unit * 4;
    margin: variables.$unit * 4 0;
  }
}
