/* Statuses */
$primary: rgb(58, 114, 219);
$success: rgb(50, 206, 84);
$warning: rgb(203, 206, 50);
$secondary: rgb(150, 150, 150);
$destructive: rgb(219, 65, 65);

/* Theme */
$theme-primary: rgb(130, 173, 90);
$muted-bg: rgb(230, 230, 230);

/* Text colors */
$text-muted-1: rgb(40, 40, 40);
$text-muted-2: rgb(80, 80, 80);
